<h1>Users list</h1>
<table>
    <tbody>
        <%@users.each do |user|%>
            <tr  style="vertical-align: baseline;">
              <%= render user %>
            </tr>
        <%end%>
    </tbody>
</table>